# Jira Configuration (Default: EVOLCRE4)
JIRA_HOST=https://umane.emeal.nttdata.com/jiraito
JIRA_PROJECT_KEY=EVOLCRE4
JIRA_ISSUE_KEY=
JIRA_AUTH_BASIC=
JIRA_API_TOKEN=

# Authentication Providers for Endpoints (ATLAS / AGORA)
# Opciones: ATLAS, AGORA, CUSTOM
AUTH_PROVIDER=ATLAS
ATLAS_CLIENT_ID=
ATLAS_CLIENT_SECRET=
AGORA_CLIENT_ID=
AGORA_CLIENT_SECRET=
AUTH_TOKEN=

# Quality & SonarQube
SONAR_HOST_URL=https://sonar.example.com
SONAR_TOKEN=
